<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="../styles/style.css">
    <script src= "../js/config.js"></script>
    <script src= "../js/auth.js"></script>
    <script src= "../js/api.js"></script>
</head>

<body>

<div class="activity-container">

    <div class="buttons navbar">
        <a class="link-wrapper option-btn" href="#" data-category="productivity">
            <span class="fallback">Productivity</span>
            <div class="img-wrapper">
                <img class="normal" src="../../images/productivity_normal.png">
                <img class="active" src="../../images/productivity_active.png">
            </div>
            <div class="shape-wrapper">
                <div class="shape red-fill jelly">
                    <svg viewBox="0 0 108.1 47"><polygon fill="#FF0000" points="29.5,8.5 150.7,0 108.1,32.7 3.1,47"/></svg>
                </div>
                <div class="shape cyan-fill jelly">
                    <svg viewBox="0 0 108.1 47"><polygon fill="#00FFFF" points="0.3,17 125.1,0 68.8,45.6 24.3,39"/></svg>
                </div>
            </div>
        </a>

        <a class="link-wrapper option-btn" href="#" data-category="social-life">
            <span class="fallback">Social Life</span>
            <div class="img-wrapper">
                <img class="normal" src="../../images/social_life_normal.png">
                <img class="active" src="../../images/social_life_active.png">
            </div>
            <div class="shape-wrapper">
                <div class="shape red-fill jelly">
                    <svg viewBox="0 0 108.1 47"><polygon fill="#FF0000" points="29.5,8.5 150.7,0 108.1,32.7 3.1,47"/></svg>
                </div>
                <div class="shape cyan-fill jelly">
                    <svg viewBox="0 0 108.1 47"><polygon fill="#00FFFF" points="0.3,17 125.1,0 68.8,45.6 24.3,39"/></svg>
                </div>
            </div>
        </a>

        <a class="link-wrapper option-btn" href="#" data-category="leisure">
            <span class="fallback">Leisure</span>
            <div class="img-wrapper">
                <img class="normal" src="../../images/leisure_normal.png">
                <img class="active" src="../../images/leisure_active.png">
            </div>
            <div class="shape-wrapper">
                <div class="shape red-fill jelly">
                    <svg viewBox="0 0 108.1 47"><polygon fill="#FF0000" points="29.5,8.5 150.7,0 108.1,32.7 3.1,47"/></svg>
                </div>
                <div class="shape cyan-fill jelly">
                    <svg viewBox="0 0 108.1 47"><polygon fill="#00FFFF" points="0.3,17 125.1,0 68.8,45.6 24.3,39"/></svg>
                </div>
            </div>
        </a>
    </div>

    <div class="textbox-container" id="textboxContainer">
            <textarea
                    id="message"
                    maxlength="100"
                    placeholder="Enter one sentence..."
            ></textarea>

        <div class="counter">
            <span id="charCount">0</span>/100
        </div>
    </div>

    <button class="send-btn" id="sendBtn">
        Send
    </button>

</div>

<script>
    const buttons = document.querySelectorAll(".option-btn");
    const textboxContainer = document.getElementById("textboxContainer");
    const textarea = document.getElementById("message");
    const charCount = document.getElementById("charCount");
    const sendBtn = document.getElementById("sendBtn");

    buttons.forEach(button => {
      button.addEventListener("click", (e) => {
        e.preventDefault();

        buttons.forEach(btn => btn.classList.remove("active"));

        button.classList.add("active");

        textboxContainer.style.display = "flex";
      });
    });

    textarea.addEventListener("input", () => {
      charCount.textContent = textarea.value.length;
    });

    sendBtn.addEventListener("click", async () => {
      const activeBtn = document.querySelector(".option-btn.active");

      if (!activeBtn) {
          alert("Please choose the category!");
          return;
      }

      // сброс в 00 06 12 18 часов
      // индексы. 0: 00-06, 1: 06-12, 2: 12-18, 3: 18-00
      const now = new Date();
      const currentHour = now.getHours();

      const windowIndex = Math.floor(currentHour / 6);
      const windowId = `${now.toDateString()}_${windowIndex}`;

      if (localStorage.getItem("last_set_window") == windowId){
        let nextReset = "";
        if (windowIndex === 0) nextReset = "08:00";
        else if (windowIndex === 1) nextReset = "12:00";
        else if (windowIndex === 2) nextReset = "17:00";
        else nextReset = "21:00";

        alert(`You've already sent data for this timestamp. Next slot opens at ${nextReset}.`);
        console.log("уже отправлял");
        return;
      }

      const categoryValue = activeBtn.getAttribute("data-category");

      try{
        const response = await apiFetch(`/api/activity/${categoryValue}`,{
            method: "POST"
        });

        localStorage.setItem("last_set_window", windowId);

        console.log("Server response:", response);
        alert("Data sent!")
      } catch (error) {
        console.error("Error during send:", error)
        alert("Something went wrong:", error.message);
      }
    });
</script>

</body>
</html>