<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Login</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>

<div class="container">

    <div class="error" id="error"></div>

    <form id="loginForm">

        <div class="input-group">
            <input
                    type="text"
                    id="login"
                    placeholder="Login"
                    required
            />
        </div>

        <div class="input-group">
            <input
                    type="password"
                    id="password"
                    placeholder="Password"
                    required
            />
        </div>

        <button type="submit">
            Sign In
        </button>

    </form>

    <div class="bottom-text">
        Don't have an account?
        <a href="register.html">Register</a>
    </div>
</div>

<script src=""></script>

</body>
</html>