<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>

<div class="menu-container">

    <div class="navbar">

        <a href="profile.html" class="send-btn">Profile</a>

        <a href="activity_log_config.html" class="send-btn">Activity Log</a>

        <a href="network.html" class="send-btn">Network</a>

        <a href="PAGE_4.html" class="send-btn">Button 4</a>

    </div>

</div>

<script>
    if (!getToken()) {
    window.location.href = "login.html";
}
    const buttons = document.querySelectorAll(".option-btn");

    buttons.forEach(button => {
        button.addEventListener("click", (e) => {
            e.preventDefault();

            buttons.forEach(btn => btn.classList.remove("active"));

            button.classList.add("active");
        });
    });
</script>

</body>
</html>