<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Login</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>

<div class="register-container">

    <div class="error" id="error"></div>
    <div class="success" id="success"></div>

    <form id="registerForm">

        <div class="input-group">
            <input
                    type="text"
                    id="login"
                    placeholder="Login"
                    required
            />
        </div>

        <div class="input-group">
            <input
                    type="email"
                    id="email"
                    placeholder="Email"
                    required
            />
        </div>

        <div class="input-group">
            <input
                    type="password"
                    id="password"
                    placeholder="Password"
                    required
            />
        </div>

        <div class="input-group">
            <input
                    type="password"
                    id="confirmPassword"
                    placeholder="Confirm Password"
                    required
            />
        </div>

        <button type="submit">
            Create Account
        </button>

    </form>

    <div class="bottom-text">
        Already have an account?
        <a href="login.html">Login</a>
    </div>

</div>

<script src=""></script>

</body>
</html>